/* style.css */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    line-height: 1.6;
    color: #333;
}

header {
    background-color: #f0f0f0; /* Light gray background for header */
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: burlywood; /* Darker background for navbar */
    color: white;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 100px; /* Adjust logo height as needed */
    margin-right: 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-left: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.3s; /* Smooth transition on hover */
}

nav a:hover {
    background-color: #555; /* Slightly darker background on hover */
}

.hero {
    position: relative;
    overflow: hidden; /* To contain the image */
}

.hero img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover; /* Ensures image covers the entire hero area */
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.hero-content h2 {
    font-size: 3em;
    margin-bottom: 10px;
}

.hero-content p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff; /* Blue call-to-action button */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

.about-section,
.academics-section,
.gallery-section {
    padding: 40px 0;
}

.about-section h2,
.academics-section h2,
.gallery-section h2 {
    text-align: center;
    margin-bottom: 20px;
}

.stats {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.stat {
    text-align: center;
}

.stat h3 {
    font-size: 2em;
    margin-bottom: 5px;
}

.course-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    margin-top: 30px;
}

.course {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
}

.course img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.view-all-button {
    display: block;
    margin: 30px auto 0;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
}